language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6

env:
  - SYMFONY_VERSION=2.3.*
  - SYMFONY_VERSION=2.4.*
  - SYMFONY_VERSION=2.5.*
  - SYMFONY_VERSION=2.6.*
  - SYMFONY_VERSION=2.7.*
  - SYMFONY_VERSION=dev-master

before_install:
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
  - composer self-update

install:
  - composer require symfony/symfony:${SYMFONY_VERSION}

script:
  - phpunit --coverage-text
  - phpcs --ignore=/vendor/* --extensions=php --encoding=utf-8 --standard=PSR2 -np .
